a:hover {
  text-decoration: none;
}

span.method {
  display: inline-block;
  text-transform: uppercase;
  width: 40px;
  text-align: right;
}

ul {
  padding-left: 4px;
  list-style: none;
  &.methods {
    display:inline-block;
  }
}

li.parent > a {
  color: gray;
  font-size: 20px !important;
}

a.selected {
  color: black;
}

.tab-content {
  min-height: 100px;
}

