a:hover {
  text-decoration: none;
}

span.method {
  display: inline-block;
  text-transform: uppercase;
  width: 40px;
  text-align: right;
}

ul {
  padding-left: 10px;
  list-style: none;
}

li.parent > a {
  color: gray;
  font-size: 20px !important;
}

li.endpoint {
  height: 22px;
}

a.selected {
  color: black;
}

.tab-content {
  min-height: 100px;
}

span.badge {
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #c4c4c4;
}
